// CHOICES
// Main colors:
$strong_purple: #400082;
$medium_purple: #7e0cf5;
$strong_pink: #cd4dcc;
$medium_pink: #f7beff;
$white_background: #FFFFFF;
// Font Sizes:
$logo_font_size: 2em;
$nav_font_size: 1em;
$h1_font_size:0.8em;
$table_p_font_size:0.5em;
$table_title_font_size:0.7em;
// DECISIONS
// Buttons:
$button_big_background_color:$strong_pink;
// Forms
$place_holder_font_color: #818A91;



